<%= simple_form_for @meal_plan do |f| %>
  <%= f.input :days %>
  <%= f.button :submit %>
<% end %>

<% if current_user.meal_plans.last != nil %>
<%  current_user.meal_plans.last.meals.each do |meal| %>
<p> <%= meal.recipe.name %> </p>
<% end %>
<% end %>
