
<img id = ""src="https://images.unsplash.com/photo-1536546025187-bad5bfc86628?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
<% @shopping_list_items.each do |shopping_list_item| %>
  <h1> <%= shopping_list_item.ingredient.name %></h1>
<% end  %>

