<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="banner d-flex justify-content-center h-40" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);">
    <div class="container">
      <h1 class="text-center"> <strong>Ready, shop - cook!</strong></h1>
      <p class="text-center">Get your own mealplan</p>
    </div>
    <a class="btn btn-primary" id="btn-lg" href='/meal_plans/new'>Create</a>
  </div>
  <div class="container">
  <div class="card-product row mt-5 ml-3">
    <h1 class="col-1 text-center font-c-6 p-0">1</h1>
    <div class="col-11 card-product-infos lefty-border">
      <h2 class="font-c-6">Set your preferences</h2>
      <p>Healthy and diverse</p>
      <div class="d-flex pb-3 ml-1 border-bottom">
        <div class="col-3 tag color-1 justify-content-center">
          <p class="m-0">Vegan</p>
        </div>
        <div class="col-3 tag color-2 justify-content-center">
          <p class="m-0">Italian</p>
        </div>
        <div class="col-3 tag color-3 justify-content-center">
          <p class="m-0">Soup</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-product row mt-5 ml-3">
    <h1 class="col-1 text-center font-c-6 p-0">2</h1>
    <div class="col-11 card-product-infos lefty-border">
      <h2 class="font-c-6">Shuffle your meal plan</h2>
      <p>Individual and dynamic</p>
      <div class="d-flex" >
        <img width=100 src="https://images.unsplash.com/photo-1572449043416-55f4685c9bb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">
        <div class="pl-3 d-flex desc-size flex-column">
          <h6 class="font-c-neutral text-left "><strong>Papaya salad</strong></h6>
          <p class="font-c-neutral text-left mb-0">Sunny papayas mixed with fresh herbs</>
        </div>
      </div>
    </div>
  </div>
  <div class="card-product row mt-5 ml-3">
    <h1 class="col-1 text-center font-c-6 p-0">3</h1>
    <div class="col-11 card-product-infos lefty-border">
      <h2 class="font-c-6">Shop smoothly</h2>
      <p>Simple and quick</p>
      <div class="d-flex">
        <i class="fal fa-square icon-size-empty mr-3 font-c-neutral"></i>
        <p class="mb-1 font-c-neutral">2 limes</p>
      </div>
       <div class="d-flex border-bottom">
        <i class="fas fa-square icon-size-full mr-3 font-c-3"></i>
        <p class="font-c-neutral">Peanuts</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3 mb-5">
    <a class="btn btn-primary" id="btn-lg" href='/meal_plans/new'>Start now</a>
  </div>
  </div>
</body>
</html>
