<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="banner d-flex justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);">
    <div class="container">
      <h1 class="text-center"> <strong>Ready, shop - cook!</strong></h1>
      <p class="text-center">Get your own mealplan</p>
    </div>
    <a class="btn btn-primary" href="#">Create</a>
  </div>
  <div class="card-product row mt-5 ml-3">
    <h1 class="col-2 text-center font-c-6 my-auto">1</h1>
    <div class="col-10 card-product-infos">
      <h2 class="font-c-6">Set your preferences</h2>
      <p>Healthy and diverse</p>
      <div class="row pb-3 border-bottom">
        <div class="col-3 tag color-1">Vegetarian</div>
        <div class="col-3 tag color-2">Italian</div>
        <div class="col-3 tag color-3">Soup</div>
      </div>
    </div>
  </div>
  <div class="card-product row mt-5 ml-3">
    <h1 class="col-2 text-center font-c-6 my-auto">2</h1>
    <div class="col-10 card-product-infos">
      <h2 class="font-c-6">Shuffle your meal plan</h2>
      <p>Individual and dynamic</p>
      <div class="row pb-3 border-bottom">
        <img class="col-3 mh-10" src="https://images.unsplash.com/photo-1543362906-acfc16c67564?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=802&q=80">
        <div class="col-6 tag">
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-product row mt-5 ml-3">
    <h1 class="col-2 text-center font-c-6 my-auto">3</h1>
    <div class="col-10 card-product-infos">
      <h2 class="font-c-6">Shop smoothly</h2>
      <p>Simple and quick</p>
      <div class="row pb-3 border-bottom">
        <div class="col-3 tag color-1">Vegetarian</div>
        <div class="col-6 tag color-2">Italian</div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <a class="btn btn-primary" href="#">Start now</a>
  </div>
</body>
</html>
