<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
</head>
<body>

  <div class="banner d-flex justify-content-center h-40" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);">
    <div class="container">
      <h1 class="text-center"> <strong>Ready, shop - cook!</strong></h1>
      <p class="text-center">Get your own mealplan</p>
    </div>
    <a class="btn btn-primary" id="btn-lg" href='/meal_plans/new'>Create</a>
  </div>
  <div class="container pl-0">
  <div class="card-product row mt-5 ml-3">
    <h1 class="col-1 text-center font-c-6 p-0">1</h1>
    <div class="col-11 card-product-infos lefty-border">
      <h2 class="font-c-6">Set your preferences</h2>
      <p class="pb-3">Healthy and diverse</p>
      <div class="d-flex pb-3 border-bottom">
        <div class="col-4 col-lg-2 col-md-3 col-sm-4 p-1">
          <form class="form-inline">
            <a class="btn-sm btn-secondary w-100 text-center inc-pref" style="text-decoration:none;">
              <span>vegetarian</span>
            </a>
          </form>
        </div>
        <div class="col-4 col-lg-2 col-md-3 col-sm-4  p-1">
          <form class="form-inline">
            <a class="btn-sm btn-outline-danger w-100 text-center no-pref" style="text-decoration:none;border:1px solid;">
              <span>Indian</span>
            </a>
          </form>
        </div>
        <div class="col-4 col-lg-2 col-md-3 col-sm-4  p-1">
          <form class="form-inline">
            <a class="btn-sm btn-info w-100 text-center inc-pref" style="text-decoration:none;">
              <span>Dinner</span>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-product row mt-4 ml-3">
    <h1 class="col-1 text-center font-c-6 p-0">2</h1>
    <div class="col-11 card-product-infos lefty-border">
      <h2 class="font-c-6">Shuffle your meal plan</h2>
      <p class="pb-2">Individual and dynamic</p>
      <div class ="pb-3 border-bottom d-flex">
        <div class="card-meal">
         <div class="d-flex">
            <div class="align-self-center" ,="" style="height: 120px">
            <img width="100" src="https://spoonacular.com/recipeImages/665012-556x370.jpg ">
          </div>
          <div class="col-5 card-meal-infos lefty-border">
            <h3 class="font-c-6 mt-0" style="font-size: 15px;"> <a href="/recipes/18">Watermelon Feta and Mint Salad</a> </h3>
            <div class="pl-1 desc-size ">
              <h5 class="font-c-neutral text-left text-secondary">Cooking Time 45 Minutes</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="card-product row mt-4 ml-3">
    <h1 class="col-1 text-center font-c-6 p-0">3</h1>
    <div class="col-10 card-product-infos lefty-border">
      <h2 class="font-c-6">Shop smoothly</h2>
      <p>Simple and quick</p>
      <div class="pb-3 border-bottom">
        <div class="shopping_list_item_card mr-0 ml-0 mt-3 mb-0">
          <div class="shopping_list_item d-flex justify-content-between">
            <div>
              <p>Feta cheese</p>
            </div>
            <div class ="d-flex">
              <p style="padding-right: 5px;">20</p>
              <p>g</p>
            </div>
          </div>
          <div class="shopping_list_item d-flex justify-content-between">
             <div>
              <p>Feta cheese</p>
            </div>
            <div class ="d-flex">
              <p style="padding-right: 5px;">20</p>
              <p>g</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3 mb-5">
    <a class="btn btn-primary" id="btn-lg" href='/meal_plans/new'>Start now</a>
  </div>
  </div>
</body>
</html>
