
#btn-lg {
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.25rem 80px;
  font-size: 1.2rem;
  line-height: 1.5;
  padding-top: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  border-radius: 17px;
}

.btn-sm{
  border-radius: 17px;
}

.plus-circle i {
  position: fixed;
  bottom: 5px;
  font-size: 50px;
  left: 44vw;
}

.shopping-button {
  display: flex;
  justify-content: center;
}
