

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.little-pic {
  height: 50px;
  width: 50px;
}


.card-meal {
  margin-bottom: 5px;
  overflow: hidden;
  height: 120px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-meal img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-meal h3 {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-meal h5 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.card-meal p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-meal .card-meal-infos {
  padding: 16px;
}

.card-meal .overflow-ellipsis{
  width: 45vw;
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }


