footer {
  position: sticky;
  bottom: 0;
}

.quarter-ellipse1 {

  position: fixed;
  bottom: 0px;
  right: 0px;
  border-radius: 100% 0 0 0;
  background: $secondary;
  opacity: 0.9;
  width: 150px;
  height: 75px;
}


.quarter-ellipse2 {
  position: fixed;
  bottom: 0px;
  left: 0px;
  border-radius: 0 100% 0 0;
  background: $secondary;
  opacity: 0.9;
  width: 150px;
  height: 75px;

}


.shopping_list {
  color: $gray;
  font-size: 30px;
  padding-left: 20px;
}

.shopping_list i {
  vertical-align: -webkit-baseline-middle;
}
