// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "tag";
@import "shopping_list_items";

// All background colours

.color-1{
  background-color: rgb(233, 217, 133);
}

.color-2{
  background-color: rgb(178, 189, 126);
}

.color-3{
  background-color: rgb(116, 156, 117);
}

.color-4{
  background-color: rgb(106, 93, 123);
}

.color-5{
  background-color: rgb(54, 43, 59);
}

.color-6{
  background-color: rgb(239, 118, 122);
}

// All font colours

.font-c-1{
  color: rgb(233, 217, 133);
}

.font-c-2{
  color: rgb(178, 189, 126);
}

.font-c-3{
  color: rgb(116, 156, 117);
}

.font-c-4{
  color: rgb(106, 93, 123);
}

.font-c-5{
  color: rgb(54, 43, 59);
}

.font-c-6{
  color: rgb(239, 118, 122);
}

