
#range_slider_value_container{
  border-style: solid;
  border-radius: 100%;
  width: 56px;
  height:56px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.container_slider{
  width:80%;
}
#range_slider_value{
  padding-top: 8px;
}
